{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Change Password{% endblock page_title %}

{% block content %}
  <div class="container-md d-flex justify-content-center mt-5">
    <div class="mycon shadow bg-white rounded-4 p-4">
      <h1>Enter new password</h1>
      <p class="my-4 text-secondary">Please enter your new password twice so we can verify you typed it in correctly.</p>

      <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-primary px-4" type="submit" value="Change my password">
      </form>
    </div>
  </div> 
{% endblock content %}