{% extends "base.html" %}

{% block page_title %}Password reset sent{% endblock page_title %}

{% block content %}
  <div class="container-md mt-5 d-flex justify-content-center">
    <div class="mycon bg-white shadow rounded-4 p-4">
      <h1>Password reset sent</h1>
      <p class="my-4 text-secondary">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
      <p class="text-secondary">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>
  </div>
{% endblock content %}